@model IEnumerable<DocsApp.Models.Document>

@{
    ViewData["Title"] = "Index";
}

<h1 class="my-4">Documents</h1>

<div class="d-flex flex-wrap">
    <div class="card text-center m-2" style="width: 18rem;">
        <div class="card-body">
            <a href="@Url.Action("Create")" style="text-decoration:none; color:black; font-size: 50px;">+</a>
        </div>
        <div class="card-footer text-muted">
            Blank Doc
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="card text-center m-2" style="width: 18rem;">
            <div class="card-body">
                <a href="@Url.Action("Edit", new { id = item.Id })" style="text-decoration:none; color:black; font-size: 50px;">📃</a>
            </div>
            <div class="card-footer text-muted">
                @item.Title
            </div>
        </div>
    }
</div>
